*
{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    

}
body
{
    display: grid;
    grid-template-rows: 2fr 5fr 1fr;
    max-width: 100%;
    height: 800px;
}

.Head
{
    display: grid;
    grid-template-columns: 2fr 5fr;
   
    background-repeat:repeat;
    background-size: contain;
}

.Nav3
{   
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    
}
.Nav3{
    
    margin:0px;
    margin-top: 0px;
    padding: 10px 8vw;
    border-radius: 10px;
    position: relative;
    left: 100px;
}

.Menu>a
{
    text-decoration: none;
    color:white;
    font-weight: bolder;
    font-size:larger;
    border-radius:15px ;
    padding: 5px;

    
}
.Menu>a:hover
{   transition: 4s ease-in-out;
    color: white;
    text-decoration: underline;
    text-decoration-thickness: 5px;
}





body{
    background-image: url(/images/background\ image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center  ; 
    margin-top: 20px;  
       
}


legend{
    width:400px;
    position:relative;
    left:0px;
    bottom:50px;
    color:white;
    background-color: transparent ;
    transition: 200s ease-out;
    font-size: 100px;
    text-align: center;
    padding-top:20px;
    border-radius: 80px;
    
    
    
}
legend a{
    text-decoration: none;
    color:white;
    
}

legend:hover{
    transition-delay: 3s;
    transition: 4s ease-in-out;
    background-image: url(/images/Header\ background.jpg);

}



footer section{
    display:flex;
    float:left;
    
}
#Contactinfo{
    display:flex;
    
    border-left:2px solid black ;
    
}
#Contactinfo img{
    display:flex; 
    width:30px;
    height: 30px;
}
#Contactinfo{
    display: block;
    padding-left: 40px;
}
#copywrite{
    padding: 50px;
    color:black;
    
}
header section{
    background-color: transparent;
    
    
}
#Logo{
    width:100px;
    height: 100px;
 
    }

#drop-down{
    list-style: none;
    text-decoration: none;
    color:rgb(12, 114, 238);
    font-weight: bolder;
    font-size:larger;
    padding: 10px;
    display:none;
    position:absolute;
    background-color: white;


}
#drop-down:hover
{
    display:contents;
}
fieldset footer{
    width:100%;
    height:10%
}